{% extends 'base.html.twig' %}

{% block body %}
<main id="app">
    Chargement de l'application...
</main>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
