@import './_bootstrap_variables.scss';
@import "node_modules/bootstrap/scss/bootstrap";


.router-link-active {
    color: white;
}
.router-link-exact-active {
    font-weight: bold;
    text-decoration: underline;
}

/* Transition : fade */
.fade-enter-active,
.fade-leave-active {
  transition-duration: .3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter-from,
.fade-leave-active {
  opacity: 0
}