<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon application Symfony 5 / Vue 3{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.uca.fr/css/bootstrap_uca.min.css">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
