{% extends 'base.html.twig' %}

{% block title %}Application Symfony 5 - Vue 3{% endblock %}

{% block body %}
<main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <img src="https://cdn.uca.fr/images/logos/UCA_logo_long_blanc.png" alt="UCA">
    </nav>
    <main class="container mt-4">
        <section class="container">
            <h1>Application de démo Symfony / Vue</h1>
            <h3>Les commandes disponibles dans le Makefile</h3>
            <ul>
                <li>help : Affiche cette aide dans le terminal</li>
                <li>install-php : Installation des dépendances via composer</li>
                <li>install-js : Installation des dépendances js (utile seulement en prod)</li>
                <li>install : Lance les commandes 'install-php' puis 'install-js'</li>
                <li>consume : Démarre les services messenger</li>
            </ul>
        </section>
        <section class="mt-2 p-2">
            <div class="row justify-content-md-center">
                <div class="col-2">
                    <a href="/private" class="btn btn-primary">Accéder à la démo</a>
                </div>
            </div>      
            <div class="mt-2 row justify-content-md-center">
                <div class="col-2">
                    <a href="http://localhost:1080/" target="_blank" class="btn btn-primary">Consulter les mails envoyés</a>
                </div>
            </div>    
            <div class="mt-2 row justify-content-md-center">
                <div class="col-2">
                    <a href="http://localhost:15672/" target="_blank" class="btn btn-primary">Ouvrir l'interface Rabbitmq</a>
                </div>
            </div>
        </section>
    </main>
</main>
{% endblock %}
